* {
  box-sizing: border-box;
  margin: 0;
}

html {
    --bg: #141321;
    --fg: #dddddd;
    --purple: #b794f4;
    --gray: #646464;
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/woff2/FiraCode-Regular.woff2") format("woff2"),
       url("fonts/woff/FiraCode-Regular.woff") format("woff");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/woff2/FiraCode-Bold.woff2") format("woff2"),
       url("fonts/woff/FiraCode-Bold.woff") format("woff");
}

html {
    font-family: "Fira Code", monospace;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

body {
    padding: 3rem;
    line-height: 1.5em;
    max-width: 35rem;
    background-color: var(--bg);
    color: var(--fg);
}

h1 {
    font-size: inherit;
    margin-bottom: 1rem;
}

hr {
    border: 1px solid var(--purple);
    width: 25%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

dl {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1rem;
    color: var(--gray);
}

dt {
    text-align: right;
    color: var(--gray);
}

a {
    color: var(--fg);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dotted var(--gray);
    padding-bottom: 2px;
}

a:hover {
    color: var(--purple);
    border-bottom: 1px solid var(--purple);
}

.desc {
    font-size: 0.7em;
}

footer {
    color: var(--gray);
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
}

footer > a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    border: none;
}
